:root{
    --gray: gray;
    --light-gray:rgb(243, 236, 236);
    --pink: rgb(250, 171, 184);
    --border-radius-gray: rgb(216, 214, 214);
    --star: rgb(255, 157, 0);
    --light-black:rgb(31, 30, 30);
    --red: rgb(250, 128, 149);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.logo{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--light-gray);
    height: 100px;
}
.logoImg{
    display: flex;
    border-right: 1.5px solid var(--pink);
    padding-right: 20px;
    margin-right: 25px;
}
.logoImg img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    border-radius: 4px;
}
.logoText{
    color: var(--red);
    font-size: 25px;
}
.item{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.item-left{
    width: 15%;
}
.manage-product,
.manage-cart{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.manage-product a{
    color: black;
    text-decoration: none;
    transition: 0.2s ease;
}
.manage-product a:hover{
    color: var(--pink);
}
.manage-product i{
    font-size: 25px;
    color: var(--gray);
}
.manage-cart{
    background-color: var(--pink);
    border-radius: 4px;
    margin-top: 10px;
}
.manage-cart i{
    color: white;
    font-size: 25px;
}
.manage-cart a{
    color: white;
    text-decoration: none;
}
.item-right{
    width: 80%;
}
table{
    
}
.infor span:last-child{
    color: var(--gray);
}
.totalPrice{
    font-size: 17px;
    font-weight: bold;
}
.unconfimred-btn,
.confirm-btn{
    border: none;
    color: white;
    background-color: var(--pink);
    border-radius: 4px;
    padding: 3px 8px;
}
